# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env
.env.local
.env.*.local

# Dist y Build
dist/
build/
*.tsbuildinfo

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
temp/
.cache/

# Coverage
coverage/
*.lcov

# Archivos de deploy
.vercel
.netlify
